__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Builds and distributions
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/

# Virtual environments
venv/
env/
.env

# OS
.DS_Store
Thumbs.db
